@model ProductDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="StorageCreate" enctype="multipart/form-data">
    <div class="productDetails">
        
        <img src="~/css/1.jpg" height=150px width=150px>
        <div>
            <div class = "input_wrapper">
                <h2>Name: </h2><input name="name" asp-for="Name" type="text"/>
            </div>
            <div class = "input_wrapper">
                <h2>Category: </h2><input name="category" asp-for="Category"  type="text"/>
            </div>
            <div class = "input_wrapper">
                <h2>Price: </h2><input name="price" asp-for="Price"  type="number"/>
            </div>
            <div class = "input_wrapper">
                <h2>Count: </h2><input name="count" asp-for="Count"  type="number"/>
            </div>
            <div class = "input_wrapper">
                <h2>Image: </h2><input name="ImageUrl" asp-for="ImageUrl" type="text"/>
            </div>
            <div class = "input_wrapper">
                <h2>Description: </h2>
            </div>
            <textarea id = "description" name = "description" asp-for="Description" type="text"></textarea>
            <input class="saveBtn" type="submit" value="Save changes"/>
                            
        </div>
    </div>
</form>
