@model IEnumerable<ProductDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class = "productIndexContent">
<a class="showDetailsBtn" type="button" asp-action="StorageCreateForm">Create</a>
@foreach (var item in Model)
{
<div class="productItem">
    <img src="~/css/1.jpg" height=75px width=75px>
    <div>
        <h1>@item.Name</h1>
        <p>@item.Category</p>
        <h2>@((item.Price).ToString("c"))</h2>
        <a class="showDetailsBtn" type="button" asp-action="StorageDetails" asp-route-productId = "@item.ProductId">Learn more</a>
    </div>
</div>}

</div>
</body>
</html>