@model CartDto

<form method="post">
    <input asp-for="CartHeader.UserId" hidden />
    <input asp-for="CartHeader.CartHeaderId" hidden />
    <input asp-for="CartHeader.CartTotal" hidden />

    <div class = "cart_header">
        <h1>Order Summary</h1>
        <a asp-action="CartIndex">Back to Cart</a>
    </div>
    
    <div class="border mt-2 p-4 rounded order_table">
        <div class="border mt-2 p-4 rounded cart_info">
            <div class="cart_list_header">
                <h3 class="long_item1">Name</h3>
                <h3 class="short_item1">Price</h3>
                <h3 class="short_item1">Count</h3>
            </div>
            
            <hr />
            @foreach (var cartObj in Model.CartDetails)
            {
                <div class = "order_item">
                    <div class="long_item1">
                        <h5>@cartObj.Product.Name</h5>
                    </div>
                    <div class="short_item1">
                        <span>@cartObj.Product.Price.ToString("c")</span>
                    </div>
                    <div class="short_item1">
                        <span> @cartObj.Count</span>
                    </div>
                </div>
                <hr/>
            }
            <div class="cart_list_header">
                <h3 class="long_item1">Order Total :</h3>
                <h3 class="short_item1">@Model.CartHeader.CartTotal.ToString("c") </h3>
                <h3 class="short_item1"></h3>
            </div>
        </div>
        
        
        <div class = "border mt-2 p-4 rounded order_info" >
            <div class="order_wrapper">
                <input asp-for="CartHeader.Name" placeholder="full name"/>
                <span asp-validation-for="CartHeader.Name"></span>
            </div>
                
            <div class="order_wrapper">
                <input placeholder="email" asp-for="CartHeader.Email"/>
                <span asp-validation-for="CartHeader.Email"></span>
            </div>
                
            <div class="order_wrapper">
                <input asp-for="CartHeader.Phone" placeholder="phone number"/>
                <span asp-validation-for="CartHeader.Phone"></span>
            </div>
                
            <div class="col-12 pt-2">
                <label class="col-form-label">Order will be ready in 30minutes after placing order. If you place order when restaurant is closed it will be ready next day.</label>
            </div>
            <button type="submit" class="order_btn">
                <span>Place Order</span>
            </button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}