@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProductDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="productDetails">
        <img src="~/css/1.jpg" height=150px width=150px>
        <div>
            <h1>@Model.Name</h1>
            <p>@Model.Category</p>
            <h2>@((Model.Price).ToString("c"))</h2>
            <div class = "cartWrapper">
                <div class ="counter">
                    <input  asp-for="Count" type="button" value="-" onclick="val.innerText--"/>
                    <span asp-for="Count" id="val">0</span>
                    <input asp-for="Count" type="button" value="+" onclick="val.innerText++"/>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="addBtn" type="button" asp-action="" asp-route-productId = "">Add to cart</a>
                }
            </div>
            <p class ="productDescr">@Model.Description</p>
        </div>
        @*-------------*@
        <div class="card-footer row bg-dark">
            <div class="col-12 col-md-6 pb-1 ">
                <a asp-action="ProductIndex" asp-controller="" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">Back to List</a>
            </div>
            <div class="col-12 col-md-6 ">
                <button type="submit" class="btn btn-primary form-control btn-lg" style="height:50px;">Add to Cart</button>
            </div>
        </div>
        @*-------------*@
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}