@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProductDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="cart_header">
        <h1>Description</h1>
        <a asp-action="ProductIndex" asp-controller="Product">Continue Shopping</a>
    </div>
    <div class = "border mt-2 p-4 rounded">
        <div class="productDetails ">
            <img src="~/css/1.jpg" height=500px width=500px>
            <div>
                <div class = "product_info">
                    <h1>@Model.Name</h1>
                    <p>@Model.Category</p>
                    <h2>@((Model.Price).ToString("c"))</h2>
                    <div class="product_counter">
                        <input asp-for="Count" id="val" min="1" max="100" value="1"/>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button type="submit">Add to cart</button>
                        }
                    </div>
                </div>
                <p class="product_descr">@Model.Description</p>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}