@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProductDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="productDetails">
        <img src="~/css/1.jpg" height=150px width=150px>
        <div>
            <h1>@Model.Name</h1>
            <p>@Model.Category</p>
            <h2>@((Model.Price).ToString("c"))</h2>
            <div class = "cartWrapper">
                <div class="counter">
                    <input asp-for="Count" id = "val" min = "1" max = "100" value="1"/>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="addBtn" type="submit">Add to cart</button>
                }
            </div>
            <p class ="productDescr">@Model.Description</p>
            <button asp-action="ProductIndex" class="addBtn">Back to List</button>
        </div>
        
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}