html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.productIndexContent{
  margin: auto;
  display: flex; /* Устанавливаем контейнеру flex-контекст */
  flex-wrap: wrap; /* Разрешаем автоматический перенос элементов на новую строку */
  width: 100%;
}
.productItem{
  width: 45%;
  height: 250px;
  display: flex;
  border-radius: 15px;
  background-color: #fdd1eb;
  margin: 30px;
  padding: 1%;
}
.productItem img{
  margin: auto;
  margin-left: 0;
  border-radius: 15px;
  height: 100%;
  width: auto;
}
.productItem div{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 3%;
}
.showDetailsBtn{
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
}
.showDetailsBtn:hover {
  background-color: #ff0090;
  color: #ffffff;
}
.productDetails{
  display: flex;
  border-radius: 15px;
  background-color: #fdd1eb;
  margin: 30px;
  padding: 1%;
}
.productDetails img{
  margin: auto;
  margin-left: 0;
  margin-top: 0;
  border-radius: 15px;
}
.productDetails>div{
  width: 50%;
  height: 100%;
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
}
.product_info{
  height: 60%;
  width: 100%;
  text-align: right;
}
.product_descr{
  height: 40%;
  width: 100%;
  text-align: justify;
}
.product_descr>textarea{
  height: 150px;
  width: 100%;
  border-radius: 15px;
}
.product_counter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product_counter>input{
  border-radius: 15px;
  border: 2px solid #000000;
  width: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;  
}
.product_counter>input:hover {
  background-color: #ff0090;
  color: #ffffff;
}
.product_counter>button{
  width: 200px;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
}
.product_counter>button:hover {
  background-color: #ff0090;
  color: #ffffff;
}

#name{
  font-size: 30px;
}

.input_wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input_wrapper input{
  border-radius: 15px;
  background-color:  #ffffff;
  width: 65%;
  text-align: left;
  height: fit-content;
  padding: 1%;
}
.input_wrapper h3{
  width: 30%;
  text-align: right;
}

.my_btn{
  width: 100%;
  height: fit-content;
  background-color: #ff008c;
  color: #ffffff;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
  margin: auto;
  margin-top: 20px ;
}
.my_btn:hover {
  background-color: #ffffff;
  color: #000000;
}
.cart_header{
  width: 100%;
  background-color: #ff0090;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding: 10px;
}
.cart_header>a{
  width: 30%;
  height: fit-content;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
  margin: auto;
  margin-right: 0;
}
.cart_header a:hover {
  background-color: #fdd1eb;
}
.cart_list_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
.short_item{
  width: 15%;
  text-align: center;
  padding: 1%;
}
.long_item{
  width: 20%;
  text-align: center;
  padding: 1%;
}
.cart_item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 2%;
  border-radius: 15px;
  background-color: #fdd1eb;
}
.cart_item img{
  border-radius: 15px;
  width: 100%;
}
.short_item a{
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
  padding-left: 10%;
  padding-right: 10%;
}
.short_item a:hover {
  background-color: #ff0090;
  color: #ffffff;
}
.order_btn{
  padding-right: 35% !important;
  padding-left: 35% !important;
  font-size: 30px !important;
  background-color: #ff0090 !important;
  color: #ffffff !important;
  border-radius: 15px;
}
.order_btn:hover {
  background-color: #fdd1eb !important;
  color: #000000 !important;
}
.count{
  display: inline-flex;
  justify-content: space-between;
}
.count>a, .count>span{
  border-radius: 15px;
  border: 2px solid #000000;
  width: 29%;
  height: 30px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin: auto;
  margin-top: 0;
}
.count>a{
  font-weight: bold;
}
.count>a:hover {
  background-color: #ff0090;
  color: #ffffff;
}
.count>span{
  width: 39%;
}
.order_table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.order_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order_wrapper input{
  border-radius: 15px;
  background-color: #ffffff;
  width: 100%;
  text-align: left;
  height: 100%;
  font-size: 22px;
  padding: 1%;
}
.order_wrapper span{
  text-align: left;
  color: #ff008c;
  font-size: 15px;
  font-weight: normal;
}
.order_info{
  width: 50%;
  height: 400px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart_info{
  width: 45%;
  height: fit-content;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.short_item1{
  width: 25%;
  text-align: center;
  padding: 1%;
}
.long_item1{
  width: 50%;
  text-align: left;
  padding: 1%;
}
.order_item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}